/* Imports */
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

/* Generic Styles */
html 
{
    background-image: url("../images/background.jpg");
    background-size: cover;
}
body 
{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Widget */
.widget
{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    width: 38vh;
    height: 48vh;
    padding: 2vh;
    border-radius: 5%;
    /* justify-content: center; */
    align-items: center;
    color: white;
    overflow: hidden !important;
}

/* Search Bar and Button */
.searchWrapper
{
    display: flex;
    justify-content: center;
}
.searchBar
{
    height: 4vh;
    width: 30vh;
    padding: 20px;
    margin-right: 30px;
    border-radius: 30px;
    font-size: 30px;
    color: white;
}
.searchButton
{
    height: 4vh;
    width: 4vh;
    border-radius: 100%;
}
.searchButton::before
{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.5vh;
    content: "\f002";
}
.searchButton:hover
{
    background-color: rgb(128, 128, 128, 0.9);
}
.searchBar, .searchButton
{
    background-color: rgb(128, 128, 128, 0.4);
    border-color: black;
}

/* Weather Display */
.weatherWrapper
{
    /* margin-top: 10vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 38vh;
    max-height: 100%;
    width: 100%;
}
.temp
{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: .1em;
}
.location
{
    font-size: 48px;
    /* font-weight: bold; */
}
.weatherIcon
{
    margin-top: -100px;
    /* margin-bottom: -20px; */
    width: 17vh;
    height: 17vh;
}

/* Humidity & Wind Speed Display */
.infoWrapper
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
}
.windDisplay, .humidDisplay
{
    display: flex;
}
i.icon 
{
    color: white;
}
.humidity, .windSpeed
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    /* font-size: 48px; */
    /* align-items: center; */
}
.apiVal
{
    font-size: 40px;
    margin-bottom: .1em;
}
.windIcon::before
{
    font-family: 'Font Awesome 5 Free';
    position: relative;
    top: 10px;
    font-weight: 900;
    font-size: 2vh;
    content: "\f72e";
}
.humidIcon::before
{
    font-family: 'Font Awesome 5 Free';
    position: relative;
    top: 10px;
    font-weight: 900;
    font-size: 2vh;
    content: "\f773";
}

